.list-group-item {
  cursor: pointer;
}

.list-group-item:not(.active):hover {
  background-color: rgba(0, 0, 255, 0.155);
}

.add-to-cart {
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.15s linear;
}

.add-to-cart:hover {
  color: green;
  transform: scale(1.3);
}

.cart-list {
  color: black;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.15s linear;
}

.cart-list:hover {
  color: #dc3545;
  transform: scale(1.1);
}

.cart-summary-close-div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cart-summary-close {
  font-size: 1.5rem;
  margin-right: 7px;
  cursor: pointer;
  color: #dc3545;
}
